.cards {
  display: inline-block;
  align-content: center;
  background-color: rgba(136, 136, 205, 0.822);
  margin: auto 8px;
  padding: 16px;
  border: 4px rgba(91, 91, 114, 0.847);
  box-shadow: 0 0 0 0.9px black;
  color: white;
  font-size: 30px;

}
